@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.aboutus_main {
  width: 100%;
  height: 100vh;
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.whoweare {
  color: #f6f8ed;
  padding-top: 5%;
  // padding-left: 5%;
  font-size: 8vw; /* Relative unit for responsiveness */
  line-height: 1.05em;
  text-decoration: underline;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: color 0.4s ease-in, font-size 0.4s ease-in;
  text-align : center;
}

.whoweare:hover {
  color: #c4efb6;
  font-size: 10vw; /* Relative unit for responsiveness */
}

/* Media Queries for different screen sizes */
@media (max-width: 1200px) {
  .whoweare {
    font-size: 9vw;
  }

  .whoweare:hover {
    font-size: 11vw;
  }
}

@media (max-width: 768px) {
  .whoweare {
    font-size: 12vw;
  }

  .whoweare:hover {
    font-size: 14vw;
  }
}

@media (max-width: 480px) {
  .whoweare {
    font-size: 15vw;
  }

  .whoweare:hover {
    font-size: 18vw;
  }
}
