@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.section-white {
  background: #fff;
  padding: 70px 0;
}

.section-title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #3956de; /* Highlight color */
  text-align: center; /* Center align */
}

.section-title-left {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #3956de; /* Highlight color */
}

.section-subtitle {
  white-space: pre-line;
  font-size: 18px;
  color: #454545; /* Message text color */
  text-align: center; /* Center align */
  margin-bottom:40px;
}

#message{
  background:#2BF5AB;
  color:#0F69F5;
  font-size:25px;
  padding:2vh;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  position: relative;
  width: 220px;
  height: 220px;
  background-color: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
  transition: all .4s;
  margin: 0 20px;
}

.profile-card:hover {
  border-radius: 10px;
  height: 260px;
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-card:hover img {
  border-radius: 10px;
  transform: translateY(-70px);
}

.img img {
  object-fit: fill;
  width: 100%;
  border-radius: 50%;
  transition: all .4s;
  z-index: 99;
}

.caption {
  text-align: center;
  transform: translateY(-90px);
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}

.profile-card:hover .caption {
  opacity: 1;
  pointer-events: all;
}

.caption h3 {
  font-size: 21px;
  color: #0c52a1;
  font-weight: 600;
}

.caption p {
  font-size: 15px;
  font-weight: 500;
  margin: 2px 0 12px 0;
}

.caption .social-links i {
  font-size: 21px;
  margin: 0 3px;
  cursor: pointer;
  color: #333;
  transition: all .4s;
}

.caption .social-links i:hover {
  color: #0c52a1;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .profile-card {
    width: 180px;
    height: 180px;
    padding: 20px;
  }

  .profile-card:hover {
    height: 220px;
  }

  .profile-card .img {
    width: 100%;
    height: 100%;
  }

  .profile-card:hover img {
    transform: translateY(-50px);
  }

  .caption h3 {
    font-size: 18px;
  }

  .caption p {
    font-size: 14px;
  }

  .caption .social-links i {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .home-container {
    flex-direction: column;
  }

  .profile-card {
    margin: 20px 0;
    width: 150px;
    height: 150px;
    padding: 15px;
  }

  .profile-card:hover {
    height: 190px;
  }

  .caption h3 {
    font-size: 16px;
  }

  .caption p {
    font-size: 12px;
  }

  .caption .social-links i {
    font-size: 16px;
  }
}
