@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
   font-family:  "Noto Sans", sans-serif;
} 

.navbar {
    background: #DED021;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    a {
        margin-left: 30px;
        text-decoration: none;
        font-size: 25px;
        color: black;
    }
}

/* Hover effect on links */
.navbar a:hover {
    color: #DE8A21;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        height: auto;
        flex-direction: column;
    }

    .navbar a {
        margin: 10px 0; /* Adjust spacing between links */
        font-size: 20px; /* Reduce font size for smaller screens */
    }
}
