.video-player-wrapper {
  text-align: center;
}

.video-selection {
  margin-bottom: 20px;

  button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.video-player-container {
  display: flex;
  justify-content: center;
}

.video-player {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}
